APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost/vending%20machine/public
APP_NAME=VendingMachine
SESSION_NAME=vending_machine_session

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=vending_machine
DB_USER=root
DB_PASS=

JWT_SECRET=change-this-secret-key
JWT_ISSUER=vending-machine
JWT_TTL=3600
